<menu>
    <menuitem label='_t{Administration}'>
        <icon>fas:home fa-fw</icon>
        <menu>
              <menuitem label='_t{Users}'>
                  <icon>fas:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='PHP Info'>
                  <icon>fas:info-circle fa-fw</icon>
                  <action>SystemPHPInfoView</action>
              </menuitem>
              <menuitem label='_t{Preferences}'>
                  <icon>fas:cog fa-fw</icon>
                  <action>SystemPreferenceForm#method=onEdit</action>
              </menuitem>
        </menu>
    </menuitem>
    
        
    <menuitem label='{username}'>
        <icon>fas:user fa-fw</icon>
        <menu>
            <menuitem label='Perfil'>
                <icon>fas:user fa-fw</icon>
                <action>SystemProfileForm#method=onEdit</action>
            </menuitem>
             <menuitem label='Logout'>
                <action>LoginForm#method=onLogout</action>
                <icon>fas:sign-out-alt fa-fw</icon>
            </menuitem>
        </menu>
    </menuitem>

</menu>
